*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    background-color: #EEEEEE;
}
.navbar{
    background:#3769A6;
    height:120px;
    padding:20px 40px;
    display:flex;
    align-items:flex-start;
    justify-content:space-between;
    color:white;
}
.logo{
    font-size: 26px;
    font-weight: bold;
}
.menu{
    margin-top: 10px;
}
.menu a{
    text-decoration: none;
    margin: 0 18px;
    color: white;
    padding: 10px 18px;
    border-radius:10px;
    transition: 0.2s;
}
.menu a.active{
    background: #f7f7f7;
    color: #333;
}
.menu a:hover{
    background:rgba(255,255,255,0.2);
}
.profile{
    position: relative;
    cursor: pointer;
}
.profile img{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}
.dropdown{
    position: absolute;
    right: 0;
    top: 60px;
    padding: 10px;
    background: white;
    border-radius: 10px;
    display: none;
    box-shadow: 0 4px 10px black;
}
.dropdown.show{
    display: block;
}
.dropdown button{
    background: none;
    border: none;
    font-size: 14px;
}
.floating-stats{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin-top: -45px;
}
.f-card{
    background:#f7f7f7;
    padding:20px 35px;
    text-align:center;
    width:170px;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
     border-radius:50px 10px 10px 10px;
    border-left:2px solid #3769A6;
    box-shadow:0 4px 10px rgba(0,0,0,0.08);
}
.f-card p{
    color: black;
    margin-top: -5px;
    
}
.f-card h2{
    margin-top: 8px;
    font-size: 20px;
}
.table{
    margin: 40px 40px 40px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}
.table-header,.row{
    display:grid;
  grid-template-columns:3fr 1fr 1fr 1fr 1fr 1.5fr;
  padding:18px 20px;
  align-items:center;
}
.table-header{
    background:#f3f3f3;
  font-weight:bold;
  color:#555;
  border:5px solid #EEEEEE;
}
.row{
  border:5px solid #EEEEEE;
  background:#fafafa;

  
}
.row strong{
    font-size: 15px;
}
.row p{
    font-size: 13px;
    color: #838383;
}
.priorité{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    color: black;
    padding: 2px 6px;
    vertical-align: midle;
    margin-right: 5px;
}
.mid{background: #fff631;}
.high{
    background: #FFA716;
}
.urgent{background: #FF3707;}
.ok{background: #C6FF97;
}
.p-text {
    display: inline-block;
    vertical-align: middle;
}